.container {
  width: 680px;
  height: 120px;
  border: 1px solid blue;
}

.slider {
  position: relative;
  z-index: 0;
  top: 0;
  left: 0;
}

.slider__track{
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 9px;
  border: 1px solid black;

  &_orientation_horizontal {
    height: 18px;
  }

  &_orientation_vertical {
    width: 18px;
  }
}

.slider__handle {
  position: absolute;

  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -3px;
    left: -12px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 1px solid black;
  }

  &_orientation_horizontal {
    height: 18px;
    width: 100%;
  }

  &_orientation_vertical {
    height: 100%;
    width: 18px;
  }
}

.slider__connect {
  transform-origin: left top;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: green;

  &_orientation_horizontal {
    height: 18px;
  }

  &_orientation_vertical {
    width: 18px;
  }
}
